<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/start-style.css">
    <title>Pokémaculate Grid</title>
</head>
<body>
    <div id="start">
        <h1>Pokémaculate Grid</h1><br>
        Hello <%- name %>,<br>
        I hope you enjoy playing!<br>
        <strong>Rules:</strong>
        <ul>
            <li>Guess a pokemon that corresponds to the grid space's types on the top and left of the space</li>
            <li>If both types are the same, then the pokemon can only have that one type</li>
            <li>When entering two word pokemon, use - instead of a space </li>
            <ul><li>Example: "Great-Tusk"</li></ul>
            <li>When entering subtype pokemon such as Megas or Alolan's use it after the main name
            <ul><li>Example: "Lucario-Mega", "Raichu-Alola"</li></ul></li>
        </ul>
        <a href="/grid"><button class="submit">Start</button></a>
    </div>
</body>
</html>